@use "../../../../styles/colors.module.scss" as colors;

.sectionTitle {
    // color:green;
    font-size: 20px;
    font-weight: bold;
}

.slideSectionBtn{
    &>hover {
        border-color: colors.$lightRed;
        background-color: transparent;
        color: colors.$lightGray;
    }
}
.slideSectionBtn {
    background-color: transparent;
    &:hover {
        color: white;
        background-color: transparent;
        border-color: colors.$darkRed;
    }
    
}